.idea {
  margin-bottom: 1rem;
  padding: 0.5rem;

  &__body {
    display: flex;
  }

  &__date {
    color: #cdcdcd;
    font-size: 0.875rem;
  }

  &__title {
    color: #fff !important;

    h2 {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.3rem;
      margin: 0;
    }
  }

  &__desc {
    color: #cdcdcd !important;
  }

  &__meta {
    padding: 0 1rem;
  }

  &__points {
    margin-bottom: 0.5rem;
  }

  &__count {
    display: block;
    font-size: 1.5rem;
  }

  &__count-label {
    color: #cdcdcd;
  }

  &__summary {
    flex-grow: 1;
    padding-right: 1rem;
  }

  &__comments {
    display: flex;
  }

  &__comments-count {
    color: #cdcdcd;
    display: inline-block;
    flex-grow: 1;
    font-size: 0.875rem;
    margin-top: -0.25rem;
    text-align: center;
  }

  .p-icon--comments {
    background-image: url("/comments.svg");
  }
}
